@external gwt-TabLayoutPanel,gwt-TabLayoutPanelTabs,gwt-DisclosurePanel ;

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}

/* Middle */
.middle {
	position: relative;
	height: 510px;
	width: 100%;
}

.menuPanel {
	float: left;
	position: absolute;
	width: 250px;
	height: 500px;
	background: #B5E3FF;
	border: 2px solid black;
	/*background: white;
	font: bold 16px/32px Arial, sans-serif;
	padding: 10px 20px 10px 10px;
	position: absolute;
	
	margin-right:20px;
	border: 1px solid #e3e3e3;
	border-width: 1px 0 1px 1px;
	box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.3);*/
}

.appPanel {
	float: left;
	width: initial;
	height: 500px;
	margin-left:258px;
	/*padding: 0 50px 0 50px;*/
	border: 2px solid black;
	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	height: 20px;
}

.helpPanel {
	float: right;
	width: 250px;
	height: 500px;
	border: 2px solid black;
	background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #BFF08E;
}