@external gwt-TabLayoutPanel,gwt-TabLayoutPanelTabs,gwt-DisclosurePanel ;

.menuPanel {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	background: white;
	font: bold 16px/32px Arial, sans-serif;
	padding: 10px 20px 10px 10px;
	position: absolute;
	
	margin-right:20px;
	border: 1px solid #e3e3e3;
	border-width: 1px 0 1px 1px;
	box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.3);
}

.appPanel {
	float: left;
	width: 800px;
	margin-left: 250px;
	border: 1px solid black;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	height: 20px;
}

.helpPanel {
	float: right;
	width: 200px;
	heigth: 200px;
	border: 1px solid black;
}